.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* gap: 13rem; */
  font-family: "Saol Display Light Italic";
  font-size: 138px;
  padding: 23px 124px;
}

.title {
  flex-grow: 4;
}

.button {
  flex-grow: 1;
  cursor: pointer;
  font-size: 102px;
  align-self: flex-end;
}

.underline {
  position: relative;
  height: 2px;
  margin-top: 12px;
  flex-grow: 1;
}
.underlinediv {
  flex-grow: 1;
}

.trailtitle {
  /* display: flex;
  align-items: baseline;
  justify-content: flex-start; */
}

.trailbutton {
  /* display: flex;
  align-items: baseline;
  justify-content: flex-end; */
}

.mainphoto1 {
  position: absolute;
  top: 20%;
  left: 45%;
  z-index: -1;
}

.mainphoto2 {
  position: absolute;
  top: 35%;
  z-index: -2;
  left: 14%;
}
