.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10rem;
  font-family: "Saol Display Light Italic";
  font-size: 138px;
  padding: 124px;
}

.title {
  text-align: left;
}

.button {
  text-align: right;
  cursor: pointer;
}

.underline {
  position: relative;
  height: 2px;
  margin-top: 38px;
}

.trailtitle {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}

.trailbutton {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
}
